* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #f3f3f3;
}

.container{
  padding: 0 15px;
  max-width: 1170px;
  min-width: 300px;
  margin: 0 auto;
}
